/* page centering and fixed width */

body {
	margin: 0em;
	padding: 0em;
	text-align: center;
	font-size: 10pt;
	font-family: Arial, sans-serif;
}
	
#container {
	width: 45em;
	margin: 0em auto;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2 {
	text-transform: lowercase;
	color: #BBBBBB;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	margin: 1em 0em 0em 0em;
}

ul, ol {
	list-style-type: circle;
}

abbr, acronym {
	text-decoration: none;
	border: 0;
}

strong a {
	text-decoration: none;
	color: #000000;
}

strong a:hover {
	text-decoration: underline;
	color: #CCCCCC;
}

/* header styles */
div#header > p {
	width :32%;
	text-align: center;
	vertical-align: middle;
	
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div.icons {
	text-align: center;
	width: 100%;
	border: 0px;
}

div.icons li {
	list-style: none;
	display: inline;
}

div.icons a {
	text-decoration: none;
}

div.icons img {
	padding-left: 1em;
	padding-right: 1em;
}

div#header > h1 {
	font-size: 36pt;
}

#degrees h3 {
	margin-left: 1em;
	font-size: 10pt;
	font-weight: normal;
}

.experience_description {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.experience_description > li > ul {
	margin: 1em 0em;
}

.experience_description > li {
	margin: 1em 0em;
}

.experience_description > li > em {
	font-style: normal;
}

.experience_description > li > strong {
	text-transform: lowercase;
	font-size: 12pt;
}

.experience_description > li > span.location, .experience_description > li > span.date {
	float: right;
	display: block
}

.experience_description > li > div.clear {
	clear: right;
	width: 0;
	height: 0;
}

.letter-date {
	text-align: right;
}